@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #191328;
}

.header{
    background-color: #241b39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 140px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
    transition: transform 0.3s ease;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
    color: #eceff1;
    text-shadow: 0 0 5px #eceff1, 0 0 10px #eceff1, 0 0 15px #eceff1;
}

.header .nav-links a{
    font-size: 20px;
    color: #eceff1;
    text-decoration: none;

}

.header .btn button{
    font-size: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #1e6aa7;
    transform: scale(1.1);
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1.5s ease;
  }
  
.intro.hide {
  opacity: 0;
  pointer-events: none;
}

.intro img {
  width: 500px;
}  

.inc {
    font-size: 30px;
    color: #e2f1f8;
    text-align: center;
    padding: 100px;
    opacity: 0; /* Inicialmente, el contenido está completamente transparente */
    animation: fadeIn 2s ease-in-out forwards; /* Duración de la animación y función de tiempo */
}

    @keyframes fadeIn {
    0% { opacity: 0; } /* Comienza completamente transparente */
    100% { opacity: 1; } /* Termina completamente opaco */
    
}

.f1 {
    color: #eceff1;
    text-shadow: 0 0 5px #eceff1, 0 0 10px #eceff1, 0 0 15px #eceff1;
}

.f2 {
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, purple); 
    -webkit-background-clip: text;
    background-clip: text; /* Propiedad compatible con navegadores no basados en WebKit */
    color: transparent;
}

.empezar button {
  font-size: 25px;
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-top: 30px;
  
}

.empezar button:hover{
  background-color: #e2f1f8;
  color: #1e6aa7;
  transform: scale(1.1);
  
  
}

